		<div class="breadcrumbs col-md-12">
			<div class="col-md-2">
				<a href="#"><span class="glyphicon glyphicon-home"></span></a>
			</div>
			<div class="col-md-8">
				<ol class="breadcrumb">
					<li><a href="#">Главная</a></li>
					<li><a href="#">Каталог организаций</a></li>
				</ol>
			</div>
		</div>
		<div class="catalog col-md-8 col-md-offset-2">
			<div class="col-md-4">	
				<div class="rectangle"></div>
				<a href="companies.html">ЖБИ</a>
			</div>
			<div class="col-md-4 col-md-offset-1">	
				<div class="rectangle"></div>
				<a href="companies.html">Кирпич, Газбетон, Брус</a>
			</div>
			<div class="col-md-4">	
				<div class="rectangle"></div>
				<a href="companies.html">Что-то ещё</a>
			</div>
			<div class="col-md-4 col-md-offset-1">	
				<div class="rectangle"></div>
				<a href="companies.html">Что-то ещё</a>
			</div>
		</div>
		<div class="col-md-8 col-md-offset-2">
			<h1>Все производители и оптовые компании</h1>
			{% include "_factory_list.html" %}
		</div>