		<div class="breadcrumbs col-md-12">
			<div class="col-md-2">
				<a href="#"><span class="glyphicon glyphicon-home"></span></a>
			</div>
			<div class="col-md-8">
				<ol class="breadcrumb">
					<li><a href="#">Главная</a></li>
					<li><a href="#">Каталог организаций</a></li>
					<li><a href="#">ЖБИ</a></li>
				</ol>
			</div>
		</div>
		<div class="col-md-8 col-md-offset-2">
			<h1>Все производители и оптовые компании в Новосибирске и области</h1>
			<h3>ЖБИ</h3>
			<div class="empty"></div>
			{% include "_factory_list.html" %}
		</div>